<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <title>Grafiky</title>
    
    <style>
        header {
          display: flex;
          justify-content: center;
        }
        input {
          margin-right: 0.5rem;
        }
        table { 
          width: 750px; 
          border-collapse: collapse; 
          margin:50px auto;
          }

        /* Zebra striping */
        tr:nth-of-type(odd) { 
          background: #eee; 
          }

        th { 
          background: #3498db; 
          color: white; 
          font-weight: bold; 
          }

        td, th { 
          padding: 10px; 
          border: 1px solid #ccc; 
          text-align: left; 
          font-size: 18px;
          }

        /* 
        Max width before this PARTICULAR table gets nasty
        This query will take effect for any screen smaller than 760px
        and also iPads specifically.
        */
        @media 
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

          table { 
              width: 100%; 
          }

          /* Force table to not be like tables anymore */
          table, thead, tbody, th, td, tr { 
            display: block; 
          }
          
          /* Hide table headers (but not display: none;, for accessibility) */
          thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
          }
          
          tr { border: 1px solid #ccc; }
          
          td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%; 
          }

          td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
            /* Label the data */
            content: attr(data-column);

            color: #000;
            font-weight: bold;
          }

        }
    </style>
</head>



<body>
  <p>Hello, I am your bazos.cz car searching engine.</p>
  <p>Please insert the name of your desired car model below.</p>

  <header>
    <input id='queryInput'>
    <button id='queryButton'>Search model</button>
  </header>

  <header>
    <input id='queryInput2'>
    <button id='queryButton2'>Select days</button>
  </header>



    {% if page_data %}
      <table> 
          <thead>
              <tr>
                <th> No. </th>
                <th> Date </th>
                <th> Price </th>
                <th> Mileage </th>
                <th> Year of Manufacture </th>
                <th> URL </th>
              </tr>
          </thead>
          <tbody>
              {% for order, date, price, mileage, yom, url in page_data['order-values']|zip(page_data['date-values'], page_data['price-values'], page_data['mileage-values'], page_data['yom-values'],page_data['url-values']) %}
                <tr>
                    <td>{{order}}</td>
                    <td>{{date}}</td>
                    <td>{{price}}</td>
                    <td>{{mileage}}</td>
                    <td>{{yom}}</td>
                    <td>{{url}}</td>
                </tr>
              {% endfor %}
          </tbody>
      </table>

      <div>
          <canvas id="myChart"></canvas>
      </div>
      <script>
          const data = {
            labels: {{ page_data['order-values']|tojson }},
            datasets: [{
              label: '{{ page_data['input'] }}',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              data: {{ page_data['price-values']|tojson }},
            }]
          };
        
          const config = {
            type: 'line',
            data: data,
            options: {
              scales: {
                leftScale: {
                  position: 'left',
                  title: {
                    display: true,
                    text: 'Cena [Czk]'
                  }
                },
                bottomScale: {
                  position: 'bottom',
                  title: {
                    display: true,
                    text: 'Datum'
                  }
                },
              }
            }
          };
      </script>
      <script>
          const myChart = new Chart(
            document.getElementById('myChart'),
            config
          );
      </script>
    {% endif %}
  <script>
    document.getElementById("queryButton").addEventListener('click', () => {
      window.location.href = '/?input=' + document.getElementById('queryInput').value 
    })
  </script>
</body>
</html>